<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.ExerciseDao">
    <!--private String phone;-->
    <!--private String time;//20190101-->
    <!--private String type;//012...-->
    <!--private String strength;//012-->
    <!--private String ctime;//持续时间 xx(分)-->
    <resultMap id="BaseResultMap" type="com.example.demo.bo.Exercise">
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="strength" property="strength" jdbcType="VARCHAR"/>
        <result column="ctime" property="ctime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        phone,time,type,strength,ctime
    </sql>
    <insert id="insertExercise" parameterType="com.example.demo.bo.Exercise">
        insert into exercise values(
          #{phone},#{time},#{type},#{strength},#{ctime}
        )
    </insert>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from exercise
        where phone = #{phone,jdbcType=VARCHAR}
    </select>


</mapper>