<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.StateDao">
    <!--phone varchar(11),-->
    <resultMap id="BaseResultMap" type="com.example.demo.bo.State">
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        phone,state
    </sql>
    <insert id="insertState" parameterType="com.example.demo.bo.State">
        insert into state values(
          #{phone},#{state}
        )
    </insert>
    <update id="updateState" parameterType="com.example.demo.bo.State">
        update state set state=#{state} where phone = #{phone}
    </update>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from state
        where phone = #{phone,jdbcType=VARCHAR}
    </select>

</mapper>