<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.SugarDao">
    <!--private String time;//20190101-->
    <!--private String qujian;//0123...-->
    <!--private String num;-->
    <resultMap id="BaseResultMap" type="com.example.demo.bo.Sugar">
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
        <result column="qujian" property="qujian" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        phone,time,qujian,num
    </sql>
    <insert id="insertSugar" parameterType="com.example.demo.bo.Sugar">
        insert into sugar values(
          #{phone},#{time},#{qujian},#{num}
        )
    </insert>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sugar
        where phone = #{phone,jdbcType=VARCHAR}
    </select>


</mapper>