<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserDao">
    <!--private String phone;//11    注册-->
    <!--private String name;//姓名-->
    <!--private String password;//注册-->
    <!--private String sex;//0 男/1 女-->
    <!--private String birthday;//20190101-->
    <!--private String idcard;//18-->
    <!--private String postcode;//130012-->
    <!--private String health;//0 健康/1 高血压/2 糖尿病-->
    <!--private String height;//cm-->
    <!--private String weight;//kg-->
    <!--private String xiyan;-->
    <!--private String yinjiu;-->
    <resultMap id="BaseResultMap" type="com.example.demo.bo.User">
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="idcard" property="idcard" jdbcType="VARCHAR"/>
        <result column="postcode" property="postcode" jdbcType="VARCHAR"/>
        <result column="health" property="health" jdbcType="VARCHAR"/>
        <result column="height" property="height" jdbcType="VARCHAR"/>
        <result column="weight" property="weight" jdbcType="VARCHAR"/>
        <result column="xiyan" property="xiyan" jdbcType="VARCHAR"/>
        <result column="yinjiu" property="yinjiu" jdbcType="VARCHAR"/>
        <result column="food" property="food" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        phone,name,password,sex,birthday,idcard,postcode,health,height,weight,xiyan,yinjiu,food,address
    </sql>
    <insert id="insertUser" parameterType="com.example.demo.bo.User">
        insert into user values(
          #{phone},#{name},#{password},#{sex},#{birthday},#{idcard},#{postcode},#{health},#{height},#{weight},#{xiyan},#{yinjiu},#{food},#{address}
        )
    </insert>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where phone = #{phone,jdbcType=VARCHAR}
    </select>
    <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
    <!--delete from user_t-->
    <!--where id = #{id,jdbcType=INTEGER}-->
    <!--</delete>-->
    <!--<insert id="insert" parameterType="com.xdd.entity.User">-->
    <!--insert into user_t (id, user_name, password,-->
    <!--age)-->
    <!--values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},-->
    <!--#{age,jdbcType=INTEGER})-->
    <!--</insert>-->
    <!--<insert id="insertSelective" parameterType="com.xdd.entity.User">-->
    <!--insert into user_t-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
    <!--<if test="id != null">-->
    <!--id,-->
    <!--</if>-->
    <!--<if test="userName != null">-->
    <!--user_name,-->
    <!--</if>-->
    <!--<if test="password != null">-->
    <!--password,-->
    <!--</if>-->
    <!--<if test="age != null">-->
    <!--age,-->
    <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
    <!--<if test="id != null">-->
    <!--#{id,jdbcType=INTEGER},-->
    <!--</if>-->
    <!--<if test="userName != null">-->
    <!--#{userName,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="password != null">-->
    <!--#{password,jdbcType=VARCHAR},-->
    <!--</if>-->
    <!--<if test="age != null">-->
    <!--#{age,jdbcType=INTEGER},-->
    <!--</if>-->
    <!--</trim>-->
    <!--</insert>-->
    <update id="updateUser" parameterType="com.example.demo.bo.User">
        update user
        <set>
            <if test="name != null and name !=''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null and sex !=''">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null and birthday !=''">
                birthday = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="idcard != null and idcard !=''">
                idcard = #{idcard,jdbcType=VARCHAR},
            </if>
            <if test="postcode != null and postcode !=''">
                postcode = #{postcode,jdbcType=VARCHAR},
            </if>
            <if test="health != null and health !=''">
                health = #{health,jdbcType=VARCHAR},
            </if>
            <if test="height != null and height !=''">
                height = #{height,jdbcType=VARCHAR},
            </if>
            <if test="weight != null and weight !=''">
                weight = #{weight,jdbcType=VARCHAR},
            </if>
            <if test="xiyan != null and xiyan !=''">
                xiyan = #{xiyan,jdbcType=VARCHAR},
            </if>
            <if test="yinjiu != null and yinjiu !=''">
                yinjiu = #{yinjiu,jdbcType=VARCHAR},
            </if>
            <if test="food != null and food !=''">
                food = #{food,jdbcType=VARCHAR},
            </if>
            <if test="address != null and address !=''">
                address = #{address,jdbcType=VARCHAR},
            </if>
        </set>
        where phone = #{phone,jdbcType=VARCHAR}
    </update>
    <!--<if test="age != null">-->
    <!--age = #{age,jdbcType=INTEGER},-->
    <!--</if>-->
    <!--</set>-->
    <!---->
    <!--</update>-->
    <!--<update id="updateByPrimaryKey" parameterType="com.xdd.entity.User">-->
    <!--update user_t-->
    <!--set user_name = #{userName,jdbcType=VARCHAR},-->
    <!--password = #{password,jdbcType=VARCHAR},-->
    <!--age = #{age,jdbcType=INTEGER}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
    <!--</update>-->
</mapper>