<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.RegisterDao">
    <!--private String id;-->
    <!--private String picture;-->
    <!--private String name;-->
    <!--private String password;-->
    <!--private String birthday;-->
    <!--private String idcard;-->
    <!--private String family;-->
    <!--private String postcode;-->
    <!--private String phone;-->
    <!--private String state;-->
    <!--private String height;-->
    <!--private String weight;-->
    <!--private String xiyan;-->
    <!--private String yinjiu;-->
    <!--private String yinshi;-->
    <resultMap id="BaseResultMap" type="com.example.demo.bo.User">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <!--<result column="picture" property="picture" jdbcType="varchar"/>-->
        <!--<result column="birthday" property="birthday" jdbcType="varchar"/>-->
        <!--<result column="idcard" property="idcard" jdbcType="varchar"/>-->
        <!--<result column="family" property="family" jdbcType="varchar"/>-->
        <!--<result column="postcode" property="postcode" jdbcType="varchar"/>-->
        <!--<result column="phone" property="phone" jdbcType="varchar"/>-->
        <!--<result column="state" property="state" jdbcType="varchar"/>-->
        <!--<result column="height" property="height" jdbcType="varchar"/>-->
        <!--<result column="weight" property="weight" jdbcType="varchar"/>-->
        <!--<result column="xiyan" property="xiyan" jdbcType="varchar"/>-->
        <!--<result column="yinjiu" property="yinjiu" jdbcType="varchar"/>-->
        <!--<result column="yinshi" property="yinshi" jdbcType="varchar"/>-->
    </resultMap>
    <sql id="Base_Column_List">
        id,name,password
    </sql>
    <!--&#45;&#45;         #{id},#{picture},#{name},#{password},#{birthday},#{idcard},#{family},#{postcode},#{phone},-->
    <!--&#45;&#45;         #{state},#{height},#{weight},#{xiyan},#{yinjiu},#{yinshi}-->
    <insert id="insertUser" parameterType="com.example.demo.bo.User">
        insert into user values(
          #{id},#{name},#{password}
        )
    </insert>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
        <!--delete from user_t-->
        <!--where id = #{id,jdbcType=INTEGER}-->
    <!--</delete>-->
    <!--<insert id="insert" parameterType="com.xdd.entity.User">-->
        <!--insert into user_t (id, user_name, password,-->
        <!--age)-->
        <!--values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},-->
        <!--#{age,jdbcType=INTEGER})-->
    <!--</insert>-->
    <!--<insert id="insertSelective" parameterType="com.xdd.entity.User">-->
        <!--insert into user_t-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">-->
                <!--id,-->
            <!--</if>-->
            <!--<if test="userName != null">-->
                <!--user_name,-->
            <!--</if>-->
            <!--<if test="password != null">-->
                <!--password,-->
            <!--</if>-->
            <!--<if test="age != null">-->
                <!--age,-->
            <!--</if>-->
        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">-->
                <!--#{id,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="userName != null">-->
                <!--#{userName,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="password != null">-->
                <!--#{password,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="age != null">-->
                <!--#{age,jdbcType=INTEGER},-->
            <!--</if>-->
        <!--</trim>-->
    <!--</insert>-->
    <!--<update id="updateByPrimaryKeySelective" parameterType="com.xdd.entity.User">-->
        <!--update user_t-->
        <!--<set>-->
            <!--<if test="userName != null">-->
                <!--user_name = #{userName,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="password != null">-->
                <!--password = #{password,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="age != null">-->
                <!--age = #{age,jdbcType=INTEGER},-->
            <!--</if>-->
        <!--</set>-->
        <!--where id = #{id,jdbcType=INTEGER}-->
    <!--</update>-->
    <!--<update id="updateByPrimaryKey" parameterType="com.xdd.entity.User">-->
        <!--update user_t-->
        <!--set user_name = #{userName,jdbcType=VARCHAR},-->
        <!--password = #{password,jdbcType=VARCHAR},-->
        <!--age = #{age,jdbcType=INTEGER}-->
        <!--where id = #{id,jdbcType=INTEGER}-->
    <!--</update>-->
</mapper>